/GitSsisSolultion/GitSsisSolultion.sln
/GitSsisSolultion/GitSsisSolultion.v12.suo
/GitSsisSolultion/GitSsisSolultion/GitSsisSolultion.database
/GitSsisSolultion/GitSsisSolultion/GitSsisSolultion.dtproj
/GitSsisSolultion/GitSsisSolultion/GitSsisSolultion.dtproj.user
/GitSsisSolultion/GitSsisSolultion/Project.params
